header {
  overflow: hidden;
}

body {
  background: rgb(245, 213, 246)
}

/* ------- 1. Manage the two links on nav bar -------- */

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  float: left;
}

/* the first link (logo) */
.navbar .navbar-brand {
  color: #4592af;
}

/* change the link color */
.navbar .navbar-brand:hover, .navbar .add:hover {
  color: #226089;
}
/* the second link (create) */
.navbar .add {
  display: block;
  color: #4592af;
  text-align: center;
  padding: 8px 8px;
  font-size: 20px;
  text-decoration: none;
  background-color: rgb(243, 220, 117);
}

/* ------------- 2. The banner image ---------------- */
.banner {
  position: relative;
  z-index: -1;
  margin: -5px;
  height: 360px;
  /* background: #dddddd center center url('https://assets-lighthouse.s3.amazonaws.com/uploads/image/file/5720/restaurants-list-cover.jpg'); */
  background: #dddddd center center url('./images/BG4.jpg');
  background-size: cover;
  filter: blur(2px);
}

/* ----------- 3. The search bar + drop-down list----------------- */

.sb-dd {
  margin: 0 auto;
  max-width: 650px;
  display: flex;
  flex-direction: row;
  align-items: center; 
}
/* ---------- 3. a) the search bar -------------- */
.search-bar .search-bar-outer {
  margin: 0 auto;
  max-width: 500px;
  background-color: #fce2cf;
  border-radius: 8px;
  padding: 10px 15px;
  border: 0;
  margin-top: -60px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
}

.search-bar .search-bar-inner h4 {
  color: #9b4b4b;
}

.form-control::placeholder {
  color: #aaaaaa;
  font-size: 0.8rem;
}

.btn-major {
  background-color: #9b4b4b;
  color: white;
}

.form-control:focus {
  box-shadow: none;
  border-color: #ced4da;
}


/* ---------- 3. b) the drop-down list ------------- */

.dropbtn {
  background-color: #4CAF50;
  color: white;
  min-width: 50px;
  min-height: 55px;
  /* max-width: 240px; */
  padding: 13px 20px;
  font-size: 20px;
  border: none;
  border-radius: 8px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.dropdown {
  min-width: 30px;
  max-height: 80px;
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 130px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: rgb(63, 178, 231);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}

/* --------------- 4. The restaurant list ------------------------- */
.card {
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
}

.card img{
  height: 180px;
}

.card-title{
  overflow:hidden;
  text-overflow:ellipsis;
  white-space:nowrap;
}

.restaurant-category {
  color: #666666;
  font-size: 0.8rem;
}

.restaurant-show-title {
  position: relative;
  top: -100px;
  color: rgb(54, 49, 49);
  text-align: center;
  font-size: 3rem;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

@media screen and (max-width: 992px) {
  
  .card img{
    height: 115px;
  }
}

@media screen and (max-width: 768px) {
  
  .restaurant-show-title {
    font-size: 2rem;
  }
}

@media screen and (max-width: 575px) {
  
  .card img{
    height: auto;
  }
  
}
